{% extends 'base.html.twig' %}

{% block layout %}

    <div class="flex">
        {% include 'partials/sidebar.html.twig' %}
        <div class="w-1/5 h-full"></div>

        {% block body %}
        {% endblock %}
    </div>
    

{% endblock %}
